
#icon-colorSelector, #highlight-colorSelector, #text-colorSelector, #serviceBackground-colorSelector {
    background: url("./../js/colorpicker/images/select.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 36px;
    position: relative;
    width: 36px;
    margin-top: 1em;
}

#sharing-icon-wrap .gtc-icon-sprite {
    background-image: url("./../images/spr_tip.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 center;
    background-color: rgba(0, 0, 0, 0);
    background-size: 3000px auto;
    cursor: pointer;
    height: 27px;
    width: 27px;
}

#sharing-icon-wrap .sharing-options.active {
    opacity: 1;
}

#sharing-icon-wrap .sharing-options {
    background: none repeat scroll 0 0 #000000;
    display: block;
    float: left;
    height: 27px;
    margin-right: 7px;
    opacity: 0.3;
    position: relative;
    width: 27px;
    margin-top: 5px;
}

#sharing-icon-wrap #ev-icon .gtc-icon-sprite {
	background-position: 3px 0;
}
#sharing-icon-wrap #em-icon .gtc-icon-sprite {
	background-position: -24px -0;
}
#sharing-icon-wrap #tw-icon .gtc-icon-sprite {
	background-position: -56px 0;
}
#sharing-icon-wrap #fb-icon .gtc-icon-sprite {
	background-position: -82px 0;
}
#sharing-icon-wrap #li-icon .gtc-icon-sprite {
	background-position: -106px 0;
}
#sharing-icon-wrap #pn-icon .gtc-icon-sprite {
	background-position: -134px 0;
}
#sharing-icon-wrap #comment-icon .gtc-icon-sprite {
	background-position: -163px 0;
}
#sharing-icon-wrap #gp-icon .gtc-icon-sprite {
	background-position: -193px 0;
}
#sharing-icon-wrap #lj-icon .gtc-icon-sprite {
	background-position: -219px 0;
}
#sharing-icon-wrap #mm-icon .gtc-icon-sprite {
	background-position: -245px 0;
}
#sharing-icon-wrap #vk-icon .gtc-icon-sprite {
	background-position: -276px 0;
}
#sharing-icon-wrap #od-icon .gtc-icon-sprite {
	background-position: -303px 0;
}
#sharing-icon-wrap #core-icon .gtc-icon-sprite {
	background-color: #f50 !important;
	background-position: -324px 0;
}
#sharing-icon-wrap #deli-icon .gtc-icon-sprite {
	background-position: -353px 0;
}
#sharing-icon-wrap #digg-icon .gtc-icon-sprite {
	background-position: -380px 0;
}
#sharing-icon-wrap #ff-icon .gtc-icon-sprite {
	background-position: -406px 0;
}
#sharing-icon-wrap #glbookm-icon .gtc-icon-sprite {
	background-position: -429px 0;
}
#sharing-icon-wrap #wong-icon .gtc-icon-sprite {
	background-position: -453px 0;
}
#sharing-icon-wrap #redd-icon .gtc-icon-sprite {
	background-position: -480px 0;
}
#sharing-icon-wrap #stumbon-icon .gtc-icon-sprite {
	background-position: -505px 0;
}
#sharing-icon-wrap #yahbookm-icon .gtc-icon-sprite {
	background-position: -532px 0;
}
#sharing-icon-wrap #xn-icon .gtc-icon-sprite {
	background-position: -557px 0;
}
#sharing-icon-wrap #box-icon .gtc-icon-sprite {
	background-position: -583px 0;
}
#sharing-icon-wrap #buf-icon .gtc-icon-sprite {
	background-position: -610px 0;
}
#sharing-icon-wrap #blogc-icon .gtc-icon-sprite {
	background-position: -635px 0;
}
#sharing-icon-wrap #nelo-icon .gtc-icon-sprite {
	background-position: -661px 0;
}
#sharing-icon-wrap #wapp-icon .gtc-icon-sprite {
	background-position: -714px 0;
}
#sharing-icon-wrap #appn-icon .gtc-icon-sprite {
	background-position: -687px 0;
}
#sharing-icon-wrap #tvid-icon .gtc-icon-sprite {
	background-position: -741px 0;
}
#sharing-icon-wrap #lifest-icon .gtc-icon-sprite {
	background-position: -845px 0;
}
#sharing-icon-wrap #tum-icon .gtc-icon-sprite {
	background-position: -794px 0;
}
#sharing-icon-wrap #mysp-icon .gtc-icon-sprite {
	background-position: -767px 0;
}
#sharing-icon-wrap #fun-icon .gtc-icon-sprite {
	background-position: -870px 0;
}
#sharing-icon-wrap #xe-icon .gtc-icon-sprite {
	background-position: -896px 0;
}
#sharing-icon-wrap #ymsgr-icon .gtc-icon-sprite {
	background-position: -820px 0;
}
#sharing-icon-wrap #bib-icon .gtc-icon-sprite {
	background-position: -924px 0;
}
#sharing-icon-wrap #bofr-icon .gtc-icon-sprite {
	background-position: -954px 0;
}
#sharing-icon-wrap #yigg-icon .gtc-icon-sprite {
	background-position: -980px 0;
}
#sharing-icon-wrap #pus-icon .gtc-icon-sprite {
	background-position: -1007px 0;
}
#sharing-icon-wrap #fark-icon .gtc-icon-sprite {
	background-position: -1032px 0;
}
#sharing-icon-wrap #via-icon .gtc-icon-sprite {
	background-position: -1059px 0;
}
#sharing-icon-wrap #dz-icon .gtc-icon-sprite {
	background-position: -1085px 0;
}
#sharing-icon-wrap #fld-icon .gtc-icon-sprite {
	background-position: -1110px 0;
}
#sharing-icon-wrap #prfr-icon .gtc-icon-sprite {
	background-position: -1136px 0;
}
#sharing-icon-wrap #redi-icon .gtc-icon-sprite {
	background-position: -1161px 0;
}
#sharing-icon-wrap #wan-icon .gtc-icon-sprite {
	background-position: -1188px 0;
}
#sharing-icon-wrap #mend-icon .gtc-icon-sprite {
	background-position: -1214px 0;
}
#sharing-icon-wrap #pinbin-icon .gtc-icon-sprite {
	background-position: -1240px 0;
}
#sharing-icon-wrap #flip-icon .gtc-icon-sprite {
	background-position: -1266px 0;
}
#sharing-icon-wrap #ffilter-icon .gtc-icon-sprite {
	background-position: -1291px 0;
}
#sharing-icon-wrap #citlike-icon .gtc-icon-sprite {
	background-position: -1317px 0;
}
#sharing-icon-wrap #insp-icon .gtc-icon-sprite {
	background-position: -1344px 0;
}
#sharing-icon-wrap #netv-icon .gtc-icon-sprite {
	background-position: -1369px 0;
}
#sharing-icon-wrap #blogm-icon .gtc-icon-sprite {
	background-position: -1394px 0;
}
#sharing-icon-wrap #menme-icon .gtc-icon-sprite {
	background-position: -1421px 0;
}
#sharing-icon-wrap #protop-icon .gtc-icon-sprite {
	background-position: -1448px 0;
}
#sharing-icon-wrap #yomob-icon .gtc-icon-sprite {
	background-position: -1499px 0;
}
#sharing-icon-wrap #webn-icon .gtc-icon-sprite {
	background-position: -1473px 0;
}
#sharing-icon-wrap #allvoi-icon .gtc-icon-sprite {
	background-position: -1526px 0;
}
#sharing-icon-wrap #care2-icon .gtc-icon-sprite {
	background-position: -1554px 0;
}
#sharing-icon-wrap #newstr-icon .gtc-icon-sprite {
	background-position: -1579px 0;
}
#sharing-icon-wrap #tue-icon .gtc-icon-sprite {
	background-position: -1605px 0;
}
#sharing-icon-wrap #ork-icon .gtc-icon-sprite {
	background-position: -1631px 0;
}
#sharing-icon-wrap #getp-icon .gtc-icon-sprite {
	background-position: -1656px 0;
}
#sharing-icon-wrap #sprgpad-icon .gtc-icon-sprite {
	background-position: -1681px 0;
}
#sharing-icon-wrap #arto-icon .gtc-icon-sprite {
	background-position: -1707px 0;
}
#sharing-icon-wrap #plurk-icon .gtc-icon-sprite {
	background-position: -1732px 0;
}
#sharing-icon-wrap #typd-icon .gtc-icon-sprite {
	background-position: -1758px 0;
}
#sharing-icon-wrap #baidu-icon .gtc-icon-sprite {
	background-position: -1784px 0;
}
#sharing-icon-wrap #jumta-icon .gtc-icon-sprite {
	background-position: -1810px 0;
}
#sharing-icon-wrap #phefav-icon .gtc-icon-sprite {
	background-position: -1837px 0;
}
#sharing-icon-wrap #dii-icon .gtc-icon-sprite {
	background-position: -1862px 0;
}
#sharing-icon-wrap #strtid-icon .gtc-icon-sprite {
	background-position: -1887px 0;
}
#sharing-icon-wrap #yolnk-icon .gtc-icon-sprite {
	background-position: -1914px 0;
}
#sharing-icon-wrap #nevi-icon .gtc-icon-sprite {
	background-position: -1939px 0;
}
#sharing-icon-wrap #blklst-icon .gtc-icon-sprite {
	background-position: -1966px 0;
}
#sharing-icon-wrap #sldot-icon .gtc-icon-sprite {
	background-position: -1992px 0;
}
#sharing-icon-wrap #jaspt-icon .gtc-icon-sprite {
	background-position: -2018px 0;
}
#sharing-icon-wrap #budmar-icon .gtc-icon-sprite {
	background-position: -2043px 0;
}
#sharing-icon-wrap #symloo-icon .gtc-icon-sprite {
	background-position: -2070px 0;
}
#sharing-icon-wrap #amaz-icon .gtc-icon-sprite {
	background-position: -2095px 0;
}
#sharing-icon-wrap #zakl-icon .gtc-icon-sprite {
	background-position: -2125px 0;
}
#sharing-icon-wrap #lkme-icon .gtc-icon-sprite {
	background-position: -2150px 0;
}
#sharing-icon-wrap #adifni-icon .gtc-icon-sprite {
	background-position: -2176px 0;
}
#sharing-icon-wrap #amenme-icon .gtc-icon-sprite {
	background-position: -2200px 0;
}
.clearer {
  clear: both;
}
.order-actions-list {
  list-style-position: none;
  list-style-type: none;
}

.get-code {
	margin: 0px;
}

.span-sharing-icon-wrap {
	margin-right: 7px; 
	float: left; 
	display: block;
}

.headline-text {
	text-align: center;
}

.example-review-text {
	font: 0.9em/150% Arial,Helvetica,sans-serif;
}

#icon-color, 
#serviceBackground-color,
#highlight-color,
#text-color,
#text-sharing-customize-panel,
#img-sharing-customize-panel,
#page-sharing-customize-panel {
	clear: both;
}

#services h4,
#icon-color h4, 
#serviceBackground-color h4,
#highlight-color h4,
#text-color h4,
#text-sharing-customize-panel h4,
#img-sharing-customize-panel h4,
#page-sharing-customize-panel h4 {
	border-bottom: 1px solid #BCBCBC;
  margin-right: 2em;
}

.customize-wrapper {
	float: left;
  width: 25%;
}

#example-preview {
	float: left;
	width: 75%;
}

#example-preview .preview-example-img {
	float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}

#example-preview h6 {
	float: left;
}

.first-radio-off {
	float: left;
	margin-right: 2em;
}

span.description {
	color: #666666;
  font-size: 0.923em;
  line-height: 1.231em;
  margin: 5px 0;
}

.form-setting-code {
	float: left;
	width: 75%;
}

.form-item-microsharing-services-code-social-services,
.form-item-microsharing-services-code-color-icon,
.form-item-microsharing-services-code-bg-icon,
.form-item-microsharing-services-code-background-text,
.form-item-microsharing-services-code-color-text,
.form-item-microsharing-services-code-sharing-quote,
.form-item-microsharing-services-code-sharing-images,
.form-item-microsharing-services-code-sharing-page {
	display: none;
}

.form-item-microsharing-enabled {
	font-size: 2em;
  font-weight: bold;
}